<div class="greatDiv">
    <div class="back">
        <form>
            <div class="mb-3">
                <label class="text" for="email"  class="form-label">Utilsateur</label>
                <input type="name" class="form-control" placeholder="User1" name="name" id="name" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input class="form" type="password" [(ngModel)]="password" class="form-control" name="password" id="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Envoyer</button>
        </form>
        <p>{{ password }}</p>
    </div>

<app-validation></app-validation>
</div>